form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.8rem 0;
    font-size: 1.8rem;
}

label {
    font-weight: 650;
}

input[type="text"] {
    font-size: 1.6rem;
    height: 3.5vh;
    width: 50vw;
    width: clamp(33vw, 45vw, 50vw);
    border: none;
    outline: none;
    box-shadow: 0px 0px 0px 1px #e0c3c3 inset;
    margin-bottom: 1rem;
    border-radius: 0.66rem;
    padding: 0.66rem 1rem;
}

input:focus {
    box-shadow: 0px 0px 0px 1px #e79d9d inset;
}

input::placeholder {
    font-size: 1.6rem;
    font-weight: bold;
    color: #bcbcbc;
}

button {
    justify-content: center;
    display: flex;
    height: 3vh;
}