body {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
    background: #ed5c5c;
    height: 10.05vh;
}

body::-webkit-scrollbar-track {
    background: #f2eae9;
}

:root {
    font-size: 62.5%;
    /* font-size: 1.4rem; */
}

#App.light {
    min-height: 100vh;
    background-color: #fff7f5;
}

#App.dark {
    min-height: 100vh;
    background-color: rgb(37, 36, 36);
}

#App button.buttonTheme {
    width: 5rem;
    height: 3rem;
    position: absolute;
    top: 3rem;
    left: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 15%;
}

#App.dark button.buttonTheme {
    background-color: whitesmoke;
}

#App.light button.buttonTheme {
    background-color: black;
}

#App button.buttonTheme img {
    max-width: 100%;
    max-height: 100%;
}


/* LIGHT THEME */

#App #pokemons.light {
    background-color: #fff7f5;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 4rem;
}


/* DARK THEME */

#App #pokemons.dark {
    background-color: rgb(37, 36, 36);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 4rem;
}

@media (min-width: 375px) {
    #App #pokemons.light {
        grid-template-columns: repeat(1, 1fr);
    }
    #App #pokemons.dark {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 768px) {
    #App #pokemons.light {
        grid-template-columns: repeat(2, 1fr);
    }
    #App #pokemons.dark {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    #App #pokemons.light {
        grid-template-columns: repeat(3, 1fr);
    }
    #App #pokemons.dark {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1366px) {
    #App #pokemons.light {
        grid-template-columns: repeat(4, 1fr);
    }
    #App #pokemons.dark {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1920px) {
    #App #pokemons.light {
        grid-template-columns: repeat(5, 1fr);
    }
    #App #pokemons.dark {
        grid-template-columns: repeat(5, 1fr);
    }
}

.footer {
    margin-top: 1rem;
    height: 20px;
}